<div class="container">
  <h2 class="text-center">
    Signed Up Customers
  </h2>
</div>
<% @users.each do |user| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= user.email %>
      </div>
      <div class="col-lg-1">
        <%= user.created_at.strftime('%x') %>
      </div>
      <div class="col-lg-3">
        <% if user.admin? %>
          Admin
        <% else %>
          <%= link_to 'Make Admin', admin_path(user, admin: 'true'), class:'btn-info', method: :put %>
        <% end %>
      </div>
      <div class="col-lg-3">
        <%= link_to 'Credit $10', admin_path(user, amount: 10.00), class:'btn btn-primary', method: :put %>
      </div>
      <div class="col-lg-2">
        <%= "#{number_to_currency(user.credit)} credit remaining" %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <h2 class="text-center">
    Stripe Connected Merchants
  </h2>
</div>
<% @merchants.each do |merchant| %>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= "#{merchant.title} - #{merchant.description}" %>
      </div>
      <div class="col-lg-1">
        <%= merchant.created_at.strftime('%x') %>
      </div>
      <div class="col-lg-2">
        <%= merchant.owner.email %>
      </div>
      <div class="col-lg-4">
        <%= form_for merchant, method: "put" do |f| %>
          <%= f.number_field :fee, placeholder: :fee, step: 0.05 %>
          <%= f.submit "Set Platform Fee", class: ' btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
