<div class="container">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-lg-2">
        ID
      </div>
      <div class="col-lg-2">
        Title & Description
      </div>
      <div class="col-lg-1">
        Total
      </div>
      <div class="col-lg-1">
        Link
      </div>
      <div class="col-lg-1">
        Processed on Stripe?
      </div>
      <div class="col-lg-3">
        Stripe Charge ID
      </div>
      <div class="col-lg-1">
        Fee Charged
      </div>
    </div>
  </div>
  <% @transactions.each do |transaction| %>
    <div class="row">
      <div class="col-lg-2">
        <%= "Transaction ID: #{transaction.id}" %>
      </div>
      <div class="col-lg-2">
        <%= transaction.merchant.title %>
        <%= transaction.merchant.description %>
      </div>
      <div class="col-lg-1">
        <%= number_to_currency(transaction.total) %>
      </div>
      <div class="col-lg-1">
        <%= link_to 'Show', transaction %>
      </div>
      <div class="col-lg-1">
        <%= transaction.paid %>
      </div>
      <div class="col-lg-3">
        <%= transaction.stripe_charge %>
      </div>
      <div class="col-lg-2">
        <%= number_to_currency(transaction.fee_charged) %>
      </div>
    </div>
  <% end %>
</div>
