<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jumbotron text-left">
    <h2>
      <%= "Details for Transaction #{@transaction.id}" %>
    </h2>
    <p>
      <strong>User:</strong>
      <%= @transaction.user.email %>
    </p>
    <p>
      <strong>Merchant:</strong>
      <%= @transaction.merchant.title %>
      <%= @transaction.merchant.description %>
    </p>
    <p>
      <strong>Item:</strong>
      <%= @item.title %>
    </p>
    <p>
      <strong>Total Cost:</strong>
      <%= number_to_currency(@transaction.total) %>
    </p>
    <p>
      <strong>Stripe Payment Made?</strong>
      <%= @transaction.paid %>
    </p>
    <p>
      <strong>Stripe Charge ID</strong>
      <%= @transaction.stripe_charge %>
    </p>
    <p>
      <strong>Fee Charged</strong>
      <%= "#{number_to_currency(@transaction.fee_charged)}  (#{@transaction.fee_as_percentage}%)" %>
    </p>
    <div class="row text-center">
      <%= link_to 'Back', merchants_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
